{% extends "base.html" %}

{% block content %}

<div id="facetview"></div>

{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript">
jQuery(document).ready(function($) {

    var record_url = '{{app.config["OARR_API_BASE_URL"]}}/query?';
    var record_datatype = 'JSONP';
    var record_resdisplay = [];
    
    var record_facets = [
        {'field': 'admin.opendoar.in_opendoar.exact', 'display': 'In OpenDOAR?'},
        {'field': 'register.operational_status.exact', 'display': 'Operational Status'}
    ];
    
    function discoveryRecordView(index) {
        var options = $("#facetview").facetview.options
        var record = options.data['records'][index];
        var result = '<p style="padding:top:10px;padding-left:10px;">';

        // get all of the bits out of the object that we want to display
        result += '<a href="/admin/record/' + record.id + '">' + record.register.metadata[0].record.name + '</a>';
        
        result += "</p>";
        return result;
    }


    var opts = {
        search_url: record_url,
        datatype: record_datatype,
        facets: record_facets,
        searchbox_shade: "#fff",
        result_display: record_resdisplay,
        sharesave_link: false,
        paging: {
            size: 100
        },
        display_images: false,
        buildrecord: discoveryRecordView,
        search_sortby: [
            {"field": "created_date", "display": "Record created date"},
            {"field": "last_updated", "display": "Record last updated date"}
        ]
    };

    $('#facetview').facetview(opts);

    var controls = '<div class="hero-unit" id="controls" style="position:fixed;margin-top:10px;">';
    controls += '<p>There are {{stats.out}} records not in OpenDoar. {% if stats.out != 0 %}View: <input type="checkbox" id="show_not_in">{% endif %}</p>';
    controls += '<p>Of which {{stats.unviewed}} await initial review. {% if stats.unviewed != 0 %}View: <input type="checkbox" id="show_unviewed">{% endif %}</p>';
    controls += '<p><br><a class="btn" style="width:150px;" href="/admin/record/new">Create new record</a><br>';
    controls += '<a class="btn" style="width:150px;" href="/account">Manage accounts</a> ';
    controls += '<a class="btn disabled" style="width:150px;" href="#">Manage pages</a></p>'
    controls += '</div>';

    $('#facetview_rightcol').siblings('.span3').removeClass('span3').addClass('span4').prepend(controls);
    $('#facetview_rightcol').removeClass('span9').addClass('span7').css({"float":"right","min-height":"600px"});
    $('#facetview_filters').hide();
    $('.facetview_metadata').prependTo('#controls').css({"margin-top":"-20px"});
    $('.facetview_search_options_container').prependTo('#controls');
    $('.facetview_freetext').prependTo('#controls');
    $('.facetview_learnmore').hide();
    $('.facetview_orderby').css({"width":"200px"});
    $('#controls').prepend('<p>Welcome to admin. Search for records here, <br>or view by task, or choose management tasks. <br>Click record names on the right to edit.</p>');

    var show_not_in = function(event) {
        event.preventDefault();
        if ( $(this).is(':checked') ) {
            $('#facetview').facetview.options.predefined_filters.notin = {"term": {"admin.opendoar.in_opendoar":false}}
        } else if ( $('#facetview').facetview.options.predefined_filters.hasOwnProperty("notin") ) {
            delete $('#facetview').facetview.options.predefined_filters.notin;
        }
        $('.facetview_freetext').trigger('keyup');
    }
    $("#show_not_in").bind('change',show_not_in);

    var show_unviewed = function(event) {
        event.preventDefault();
        if ( $(this).is(':checked') ) {
            $('#facetview').facetview.options.predefined_filters.notviewed = {"script": { "script" : "unviewed"}}
        } else if ( $('#facetview').facetview.options.predefined_filters.hasOwnProperty("notviewed") ) {
            delete $('#facetview').facetview.options.predefined_filters.notviewed;
        }
        $('.facetview_freetext').trigger('keyup');
    }
    $("#show_unviewed").bind('change',show_unviewed);

});

</script>

{% endblock %}
