{% extends "base.html" %}

{% block content %}

<div id="facetview" style="margin-top:-50px;"></div>

{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript">
jQuery(document).ready(function($) {

    var record_url = '{{app.config["OARR_API_BASE_URL"]}}/query?';
    var record_datatype = 'JSONP';
    var record_resdisplay = [];
    
    var record_facets = [
        {'field': 'admin.opendoar.in_opendoar.exact', 'display': 'In OpenDOAR?'},
        {'field': 'register.operational_status.exact', 'display': 'Operational Status'}
    ];
    
    function discoveryRecordView(index) {
        var options = $("#facetview").facetview.options
        var record = options.data['records'][index];
        var result = '<p style="padding:top:10px;padding-left:10px;">';

        // get all of the bits out of the object that we want to display
        if ( record.register.metadata ) {
            var nm = record.register.metadata[0].record.name;
        } else {
            var nm = "UNNAMED REPOSITORY";
        }
        result += '<a href="/admin/record/' + record.id + '">' + nm + '</a>';
        
        result += "</p>";
        return result;
    }


    var opts = {
        search_url: record_url,
        datatype: record_datatype,
        facets: record_facets,
        searchbox_shade: "#fff",
        result_display: record_resdisplay,
        sharesave_link: false,
        paging: {
            size: 100
        },
        display_images: false,
        buildrecord: discoveryRecordView,
        search_sortby: [
            {"field": "created_date", "display": "Record created date"},
            {"field": "last_updated", "display": "Record last updated date"}
        ]
    };

    $('#facetview').facetview(opts);

    var tb = '<div class="alert alert-info">';
    var td = '<div class="alert alert-success">';
    
    var controls = '<div id="controls">';
    controls += '<h2>TASKS</h2>';
    controls += '<p>Choose a task filter to view records requiring action.</p>';

    {% if stats.newcontribution != 0 %}controls += td{% else %}controls += tb{% endif %}
    controls += '<p>There are {{stats.newcontribution}} new contributions. {% if stats.newcontribution != 0 %}';
    controls += '<br>These require review and can be accepted into OpenDOAR if appropriate, or deleted. ';
    controls += '<br>VIEW: <input type="checkbox" class="checkers" id="show_newcontribution">{% endif %}</p>' + '</div>';

    {% if stats.updaterequest != 0 %}controls += td{% else %}controls += tb{% endif %}
    controls += '<p>There are {{stats.updaterequest}} update requests. {% if stats.updaterequest != 0 %}';
    controls += '<br>These are records already in OpenDOAR for which updates have been proposed, and are awaiting acceptance or rejection of changes. ';
    controls += '<br>VIEW: <input type="checkbox" class="checkers" id="show_updaterequest">{% endif %}</p>' + '</div>';

    {% if stats.unviewed != 0 %}controls += td{% else %}controls += tb{% endif %}
    controls += '<p>There are {{stats.unviewed}} in OpenDOAR requiring review. {% if stats.unviewed != 0 %}';
    controls += '<br>These have been edited via a system other than the OpenDOAR interface since being accepted into OpenDOAR, ';
    controls += 'so the updated record should be reviewed.';
    controls += '<br>VIEW: <input type="checkbox" class="checkers" id="show_unviewed">{% endif %}</p>' + '</div>';

    {% if stats.out != 0 %}controls += td{% else %}controls += tb{% endif %}
    controls += '<p>There are {{stats.out}} records not in OpenDOAR. {% if stats.out != 0 %}';
    controls += '<br>These records have been submitted by a system other than the OpenDOAR interface, and are available for acceptance into OpenDOAR if so desired. ';
    controls += '<br>VIEW: <input type="checkbox" id="show_not_in" class="checkers">{% endif %}</p>' + '</div>';

    controls += '<p><br><a class="btn" style="width:150px;" href="/admin/record/new">Create new record</a> ';
    controls += '<a class="btn" style="width:150px;" href="/account">Manage accounts</a></p>';

    controls += '</div>';

    $('#facetview_rightcol').siblings('.span3').removeClass('span3').addClass('span4').prepend(controls);
    $('#facetview_rightcol').removeClass('span9').addClass('span8').css({"float":"right","min-height":"600px"});
    $('#facetview_filters').hide();
    $('.facetview_learnmore').hide();

    var filteroptions = function(event) {
        event.preventDefault();
        $('#facetview').facetview.options.predefined_filters = {};
        $('#facetview').facetview.options.predefined_should = {};
        var thisone = $(this).attr('id');
        $('.checkers').each(function() {
            if ( $(this).attr('id') != thisone ) {
                $(this).prop('checked',false);
            }
        });
        if ( $("#show_not_in").is(':checked') ) {
            $('#facetview').facetview.options.predefined_should.notin = {"term": {"admin.opendoar.in_opendoar":false}}
            $('#facetview').facetview.options.predefined_should.missing = {"missing": {"field": "admin.opendoar.in_opendoar"}};
        }
        if ( $("#show_unviewed").is(':checked') ) {
            $('#facetview').facetview.options.predefined_filters.in = {"term": {"admin.opendoar.in_opendoar":true}}
            $('#facetview').facetview.options.predefined_filters.saved = {'exists': {'field': 'admin.opendoar.last_saved'}}
            $('#facetview').facetview.options.predefined_filters.notviewed = {"script": { "script" : "unviewed"}}
        }
        if ( $("#show_updaterequest").is(':checked') ) {
            $('#facetview').facetview.options.predefined_filters.updaterequest = {
                "exists": {
                    "field": "admin.opendoar.updaterequest"
                }
            }
        }
        if ( $("#show_newcontribution").is(':checked') ) {
            $('#facetview').facetview.options.predefined_filters.newcontribution = {
                "exists": {
                    "field": "admin.opendoar.newcontribution"
                }
            }
        }
        $('.facetview_freetext').trigger('keyup');
    }
    $("#show_not_in").bind('change',filteroptions);
    $("#show_unviewed").bind('change',filteroptions);
    $("#show_updaterequest").bind('change',filteroptions);
    $("#show_newcontribution").bind('change',filteroptions);

});

</script>

{% endblock %}
