<!-- get jquery js -->
<script type="text/javascript" src="{{url_for('static', filename='portality/vendor/jquery-1.7.1.min.js')}}"></script>

<!-- get jquery-ui js -->
<script type="text/javascript" src="{{url_for('static', filename='portality/vendor/jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js')}}"></script>

<!-- get bootstrap js -->
<script type="text/javascript" src="{{url_for('static', filename='portality/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
            
<!-- get linkify -->
<script type="text/javascript" src="/static/jquery.linkify-1.0-min.js"></script>  

<!-- get select2 -->
<script type="text/javascript" src="/static/portality/vendor/select2-release-3.2/select2.min.js"></script>

<!-- get facetview -->
<script type="text/javascript" src="/static/jquery.facetview.js"></script>

<!-- get d3 -->
<script src="/static/map/d3.v3.min.js"></script>

<!-- get topojson -->
<script src="/static/map/topojson.v1.min.js"></script>

