{% set metadata = repo.get_metadata("en") %}
{% set reg = repo.register %}

<div class="row-fluid">
    <div class="span9">

        <h1 style="padding-bottom: 15px">{{metadata.name}}{% if metadata.acronym %} ({{metadata.acronym}}){% endif %}</h1>

        {% if reg.isreplacedby %}
        <div class="alert alert-danger">This repository has been replaced by <a href="/repository/{{repo.id_part(reg.isreplacedby)}}">{{reg.isreplacedby}}</a></div>
        {% endif %}

        {% if reg.replaces %}
        <div class="alert alert-success">This repository replaces <a href="/repository/{{repo.id_part(reg.replaces)}}">{{reg.replaces}}</a></div>
        {% endif %}

        <div class="row-fluid" style="margin-bottom: 10px">

            <div class="span12">
                <a href="{{metadata.url}}">{{metadata.url}}</a> ({{reg.operational_status}})
                {% if metadata.twitter %}
                    - <a href="http://twitter.com/{{metadata.twitter}}">{{metadata.twitter}}</a>
                {% endif %}
                <br>

                {% if metadata.repository_type and metadata.repository_type|length != 0 %}
                    {% for t in metadata.repository_type %}
                        <em>{{t}}</em>{% if not loop.first %}, {% endif %}
                    {% endfor %}
                    repository
                {% endif %}

                {% if reg.software and reg.software|length != 0 %}
                    based on
                    {% for s in reg.software %}
                        {% if s.name %}
                        <em>{{s.name}}</em>{% if not loop.first %}, {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if metadata.established_date %}
                    established in <em>{{metadata.established_date}}</em>
                {% endif %}

                {% if metadata.country or metadata.country_code or metadata.continent or metadata.continent_code %}
                    in
                {% endif %}
                {% if metadata.country or metadata.country_code %}
                    {% if metadata.country %} {{metadata.country}} {% endif %}
                    {% if metadata.country_code %}({{metadata.country_code}}){% endif %}{% if metadata.continent or metadata.continent_code %},{% endif %}
                {% endif %}
                {% if metadata.continent or metadata.continent_code%}
                    {% if metadata.continent %}{{metadata.continent}}{% endif %}
                    {% if metadata.continent_code %}({{metadata.continent_code}}){% endif %}
                {% endif %}
                <br>

                {% if metadata.language and metadata.language|length != 0 %}
                    Publishing content in {{metadata.language|join(", ")}}
                {% endif %}

                <p style="padding: 10px">{{metadata.description}}</p>
            </div>

        </div>

        <h3 style="padding-bottom: 10px">Organisations responsible for this repository</h3>
        <div class="row-fluid" style="margin-bottom: 30px">
            {% for org in reg.organisation %}
            <div class="span4">
                {% if org.role and org.role|length != 0 %}<strong>{{org.role|join(", ")}}</strong><br>{% endif %}
                <strong><a href="/organisation/{{org.details.name}}">{{org.details.name}}</a>
                    {% if org.details.acronym %} ({{org.details.acronym}}){% endif %}</strong>
                    {% if org.details.url %} - <a href="{{org.details.url}}">{{org.details.url}}</a>{% endif %}<br>

                {% if org.details.unit or org.details.unit_acronym or org.details.unit_url %}
                    {% if org.details.unit %}{{org.details.unit}}{% endif %}
                    {% if org.details.unit_acronym %}({{org.details.unit_acronym}}){% endif %}
                    {% if org.details.unit_url %}
                        <a href="{{org.details.unit_url}}">{{org.details.unit_url}}</a>
                    {% endif %}
                    <br>
                {% endif %}

                {% if org.details.country or org.details.country_code %}
                    {% if org.details.country %}{{org.details.country}}{% endif %}
                    {% if org.details.country_code %}({{org.details.country_code}}){% endif %}
                    <br>
                {% endif %}

            </div>
            {% endfor %}
        </div>

        <h3 style="padding-bottom: 10px">Contacts for this repository</h3>
        <div class="row-fluid" style="margin-bottom: 30px">
            {% for con in reg.contact %}
                <div class="span4">
                    <strong>{% if con.details.name %}{{con.details.name}}{% else %}name unknown{% endif %} {% if con.role %} - {{con.role|join(", ")}} {% endif %}</strong><br>
                    {% if con.details.job_title %}Job Title: {{con.details.job_title}}<br> {% endif %}
                    {% if con.details.email %}<a href="mailto:{{con.details.email}}">{{con.details.email}}</a><br>{% endif %}
                    {% if con.details.address %}{{con.details.address}}<br>{% endif %}
                    {% if con.details.phone %}tel: <a href="tel:{{con.details.phone}}">{{con.details.phone}}</a><br>{% endif %}
                    {% if con.details.fax %}fax: {{con.details.fax}}<br>{% endif %}
                </div>
            {% endfor %}
            {% if not reg.contact or reg.contact|length == 0 %}
                There are no contacts for this repository
            {% endif %}
        </div>

    </div>

    <div class="span3">
        <div class="well" style="background-color:#c9d2d4;">
            <p>Is this your repository? Do you want to update the information shown here?
            If so, <a href="/contribute?updaterequest={{repo.raw.id}}">use our contribution form</a> to submit an update request.</p>
        </div>
        {% if search_similar %}
            {% include "_search_similar.html" %}
        {% endif %}
    </div>

</div>

<h3 style="padding-bottom: 10px">Details</h3>

<div class="row-fluid" style="border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; margin-bottom: 30px">
    <div class="span4">
        <div style="padding: 10px">
        <strong>Repository content types</strong>
        <ul>
            {% for t in metadata.content_type %}
            <li>{{t}}</li>
            {% endfor %}
        </ul>
        {% if metadata.content_type|length == 0 %}
            This repository has not registered any content types
        {% endif %}
        </div>
    </div>

    <div class="span4">
        <div style="padding: 10px">
        <strong>Subject classifications</strong>
        <ul>
            {% for s in metadata.subject %}
            <li>{% if s.scheme %}[{{s.scheme}}] {% endif %}{% if s.term %}{{s.term}}{% endif %}{% if s.code %} ({{s.code}}){% endif %}</li>
            {% endfor %}
            {% if metadata.subject|length == 0 %}
                This repository has not registered any subject classifications
            {% endif %}
        </ul>
        </div>
    </div>

    <div class="span4">
        <div style="padding: 10px">
        <strong>Certifications</strong>
        <ul>
            {% for c in metadata.certification %}
            <li>{{c}}</li>
            {% endfor %}
            {% if not metadata.certification or metadata.certification|length == 0 %}
                This repository has not registered any certifications
            {% endif %}
        </ul>
        </div>
    </div>
</div>

<h3 style="padding-bottom: 10px">Technology</h3>

<div class="row-fluid" style="margin-bottom: 30px">
    <div class="span12">
        <div class="row-fluid" style="margin-bottom: 15px">
            <div class="span4">
                <strong>Built with</strong>
                {% if reg.software and reg.software|length != 0 %}
                    {% for s in reg.software %}
                        {% if s.url %}<a href="{{s.url}}">{% endif %}{{s.name}}{% if s.version %} {{s.version}}{% endif %}{% if s.url %}</a>{% endif %}<br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="span8">
                <strong>Integrated with</strong>
                {% if not reg.integration or reg.integration|length == 0 %}
                    <br>This repository is not integrated with any other systems
                {% endif %}
                {% if reg.integration and reg.integration|length != 0 %}
                    <ul>
                    {% for int in reg.integration %}
                        <li>{{int.integrated_with}} -
                            {% if int.url %}<a href="{{int.url}}">{% endif %}
                                {% if int.software %}{{int.software}}{% endif %}{% if int.version %} {{int.version}}{% endif %}
                            {% if int.url %}</a>{% endif %}
                            {% if int.nature %}- {{int.nature}}{% endif %}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="row-fluid">

            {% for api in reg.api %}
                <div class="span4" style="margin-bottom: 20px">
                {% if api.api_type == "oai-pmh" %}
                    <strong>OAI-PMH</strong><br>
                    {% if api.base_url %}<a href="{{api.base_url}}">{{api.base_url}}</a><br>{% endif %}
                    {% if api.metadata_formats %}
                        Metadata Formats:<br>
                        {% for format in api.metadata_formats %}
                            {% if format.schema %}<a href="{{format.schema}}">{% endif %}{{format.prefix}}{% if format.schema %}</a>{% endif %}{% if format.namespace %} - {{format.namespace}}{% endif %}<br>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if api.api_type == "sword" %}
                    <strong>SWORD{% if api.version %} ({{api.version}}){% endif %}</strong><br>
                    {% if api.base_url %}<a href="{{api.base_url}}">{{api.base_url}}</a><br>{% endif %}
                    {% if api.accepts %}
                        Accepts: {{api.accepts|join(", ")}}<br>
                    {% endif %}
                    {% if api.accept_packaging %}
                        Accepts Package Formats:<br>
                        {{api.accept_packaging|join("<br>")}}
                    {% endif %}
                {% endif %}
                {% if api.api_type != "oai-pmh" and api.api_type != "sword" %}
                    <strong>{{api.api_type}}{% if api.version %} ({{api.version}}){% endif %}</strong><br>
                    {% if api.base_url %}<a href="{{api.base_url}}">{{api.base_url}}</a>{% endif %}
                {% endif %}
                </div>
            {% endfor %}

            {% if reg.api|length == 0 %}
                <div class="span12">This repository has not registered support for any APIs</div>
            {% endif %}
        </div>
    </div>
</div>


<h3>Policies</h3>

{% for p in reg.policy %}
    {% if loop.index % 2 != 0 %}
        {% if loop.first %}
            <div class="row-fluid" style="border-top: 1px solid #cccccc">
        {% elif loop.last %}
            <div class="row-fluid" style="border-top: 1px dashed #cccccc; border-bottom: 1px solid #cccccc; margin-bottom: 30px">
        {% else %}
            <div class="row-fluid" style="border-top: 1px dashed #cccccc">
        {% endif %}
        <div class="span6">
    {% else %}
        <div class="span6">
    {% endif %}

    <div style="padding: 10px">
    {% if p.policy_type %}<strong>{{p.policy_type}}</strong><br>{% endif %}
    {% if p.description %}<p>{{p.description}}</p>{% endif %}
    {% if p.policy_grade %}<em>{{p.policy_grade}}</em><br> {% endif %}
    <ul>
        {% for t in p.terms %}
        <li>{{t}}</li>
        {% endfor %}
    </ul>
    </div>

    {% if loop.index % 2 != 0 %}
        </div>
        {% if loop.last %}
        </div>
        {% endif %}
    {% else %}
        </div></div>
    {% endif %}

{% endfor %}

{% if reg.policy|length == 0 %}
    <div class="row-fluid" style="border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; margin-bottom: 30px">
        This repository has no policies registered
    </div>
{% endif %}

<div class="row-fluid">
    <div class="span12">
        Record created on <em>{{repo.get_created_date("%Y-%m-%d at %H:%M")}}</em> and last updated on <em>{{repo.get_last_updated("%Y-%m-%d at %H:%M")}}</em>
    </div>
</div>
