<!DOCTYPE html>
<html dir="ltr" lang="en">

{% include 'head.html' %}

<body>

<div class="navbar navbar-inverse navbar-fixed-top" style="height:80px;padding-top:15px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-list"></span>
      </button>
      <a class="navbar-brand" href="/" style="margin-top:-30px;"><img src="/static/OpenDOAR-Logo-for-OARR.png"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/#about">About</a></li>
        <li><a href="/#search">Search</a></li>
        <li><a href="/#suggest">Suggest</a></li>
        <li><a href="/#statistics">Statistics</a></li>
        <li><a href="/#help">Help & Feedback</a></li>
        <li><a href="/#api">API</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><img style="padding-top:10px;height:35px;" src="/static/BetaRelease.png"></li>
      </ul>
    </div>
  </div>
</div>


{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} fade in" data-alert="alert" style="position:fixed;top:50px;left:0px;width:100%;z-index:1001;padding:0;">
    <div class="container" style="padding-top:5px;padding-bottom:5px;">
        <a class="close" data-dismiss="alert" href="#" style="font-size:1.4em;">&times;</a>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}




<div class="container content">
  {% block content %}{% endblock %}
</div> <!-- /content -->


<div style="background-color:#222;padding-top:40px;padding-bottom:10px;color:white;font-size:0.9em;z-index:1000;position:relative;">
    <div class="container">
        <p>This service is running at <a href="http://cottagelabs.com">Cottage Labs</a>. 
            Please <a href="mailto:us@cottagelabs.com">contact us</a> if you have technical issues.</p>

        <p class="pull-right" style="text-align:right;padding-top:0px;">
            <a href="http://jisc.ac.uk"><img src="/static/jisc-logo.png" style="width:90px;padding:2px;background-color:transparent;"></a>
        </p>

    </div>
</div>




{% include '_js_includes.html' %}

{% block extra_js_bottom %}
  
{% endblock extra_js_bottom %}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55236756-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
