{% extends "base.html" %}

{% block content %}

<style>
label{
    width:200px;
    display:inline-block;
}
.add-row {
    width:35px;
}
.delete-row {
    width:35px;
    display:inline;
    margin:0 5px 0 0;
}
.banner{
    margin-top:50px;
}
</style>






<div class="hero-unit odh">
    {% if record.id %}
    <h1>repo name here</h1>
    <p><label for="record_register_operational_status">Repository status</label>
    <input type="text" name="record_register_operational_status" class="ac"></p>
    {% else %}
    <h1>Add a repository to OpenDOAR</h1>
    {% endif %}

</div>



<form id="detect" method="GET" action="" style="display:none;">
<h3 style="color:red;">NOTE: this site is currently in development and is only available for demo; this contribution form does not currently work. <br>To see a demo of the auto-detection features in development, try out the <a href="/detect">/detect</a> demo.</h3>
<input style="font-size:40px;width:99%;height:80px;line-height:40px;margin-top:20px;" type="text" name="url" id="url" placeholder="http:// your repository url here">
<input type="submit" class="btn btn-info" style="width:100%;font-size:30px;line-height:30px;height:120px;margin-top:30px;" value="Enter your repository URL above and click here to begin.">
</form>




<form id="form" action="" method="post">

<!-- record metadata across all languages -->
{% for metadata in record.register.metadata %}

{% if metadata.default %}

<h1>
    {{metadata.lang}}
    <input type="hidden" name="metadata_default" value="{{metadata.default}}">
    {% if metadata.default %}<small>DEFAULT</small>{% else %}<a class="makdefault" href="#">make default</a>{% endif %}
</h1>


                    
<div class="row-fluid">

    <div class="span6">

        <p><label for="metadata_url">URL</label>
        <input type="text" name="metadata_url" value="{{metadata.record.url}}"></p>

        <p><label for="metadata_name">Name</label>
        <input type="text" name="metadata_name" value="{{metadata.record.name}}"></p>

        <p><label for="metadata_acronym">Acronym</label>
        <input type="text" name="metadata_acronym" value="{{metadata.record.acronym}}"></p>

        <p><label for="metadata_established_date">Established date</label>
        <input type="text" name="metadata_established_date" class="datepicker" value="{{metadata.record.established_date}}"></p>

        <p><label for="metadata_twitter">Twitter</label>
        <input type="text" name="metadata_twitter" value="{{metadata.record.twitter}}"></p>

        <p><label for="metadata_country">Country</label>
        <input type="text" name="metadata_country" value="{{metadata.record.country}}" class="ac"></p>

        <p><label for="metadata_country_code">Country code</label>
        <input type="text" name="metadata_country_code" value="{{metadata.record.country_code}}" class="ac"></p>

        <p><label for="metadata_continent">Continent</label>
        <input type="text" name="metadata_continent" value="{{metadata.record.continent}}" class="ac"></p>

        <p><label for="metadata_continent_code">Continent code</label>
        <input type="text" name="metadata_continent_code" value="{{metadata.record.continent_code}}" class="ac"></p>

    </div>
    
    <div class="span6">

        <p><label for="metadata_description">Description</label>
        <textarea name="metadata_description" style="height:110px;">{{metadata.record.description}}</textarea></p>

        <p><label for="metadata_language">Language</label>
        <input type="text" name="metadata_language" value="{{metadata.record.language}}" class="ac"></p>

        <p><label for="metadata_language_code">Language code</label>
        <input type="text" name="metadata_language_code" value="{{metadata.record.language_code}}" class="ac"></p>

        <p><label for="metadata_repository_type">Repository type</label>
        <input type="text" name="metadata_repository_type" value="{{metadata.record.repository_type}}" class="ac"></p>
    
        <p><label for="metadata_content_type">Repository contents</label>
        <input type="text" name="metadata_content_type" value="{{metadata.record.content_type}}" class="ac"></p>

        <p><label for="metadata_certification">Repository certifications</label>
        <input type="text" name="metadata_certification" value="{{metadata.record.certification}}" class="ac"></p>

        <p><label for="metadata_subject">Repository subjects</label>
        <input type="text" name="metadata_subject" value="{{metadata.record.subject.term}}" class="ac"></p>

    </div>

</div>

{% endif %}

{% endfor %}





<!-- organisations -->
<div id="organisation" class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Organisational details</h1>
        </div>
    </div>
</div>

{% for org in record.register.organisation %}
<div class="row-fluid multidisplay organisation" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;">

    <div class="span6">

        <p><label for="org_name">Name</label>
        <input type="text" name="org_name" value="{{org.details.name}}" class="ac finder"></p>

        <p><label for="org_acronym">Acronym</label>
        <input type="text" name="org_acronym" value="{{org.details.acronym}}"></p>

        <p><label for="org_unit">Org. Unit</label>
        <input type="text" name="org_unit" value="{{org.details.unit}}"></p>

        <p><label for="org_unit_acronym">Org. Unit Acronym</label>
        <input type="text" name="org_unit_acronym" value="{{org.details.unit_acronym}}"></p>

        <p><label for="org_unit_url">Org. Unit URL</label>
        <input type="text" name="org_unit_url" value="{{org.details.unit_url}}"></p>

    </div>
    
    <div class="span6">

        <p><label for="org_role">Role</label>
        <input type="text" name="org_role" value="{{org.role}}"></p>

        <p><label for="org_url">URL</label>
        <input type="text" name="org_url" value="{{org.details.url}}"></p>

        <p><label for="org_country">Country</label>
        <input type="text" name="org_country" value="{{org.details.country}}"></p>

        <p><label for="org_country_code">Country Code</label>
        <input type="text" name="org_country_code" value="{{org.details.country_code}}"></p>
    
        <p><label for="org_lat">Lat / lon</label>
        <input type="text" name="org_lat" value="{{org.details.lat}}" style="width:98px;">
        <input type="text" name="org_lon" value="{{org.details.lon}}" style="width:98px;"></p>

    </div>

</div>
{% endfor %}

<div class="row-fluid multi organisation" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;">

    <div class="span6">

        <p><label for="org_name">Name</label>
        <input type="text" name="org_name" class="ac finder"></p>

        <p><label for="org_acronym">Acronym</label>
        <input type="text" name="org_acronym"></p>

        <p><label for="org_unit">Org. Unit</label>
        <input type="text" name="org_unit"></p>

        <p><label for="org_unit_acronym">Org. Unit Acronym</label>
        <input type="text" name="org_unit_acronym"></p>

        <p><label for="org_unit_url">Org. Unit URL</label>
        <input type="text" name="org_unit_url"></p>

    </div>
    
    <div class="span6">

        <p><label for="org_role">Role</label>
        <input type="text" name="org_role"></p>

        <p><label for="org_url">URL</label>
        <input type="text" name="org_url"></p>

        <p><label for="org_country">Country</label>
        <input type="text" name="org_country"></p>

        <p><label for="org_country_code">Country Code</label>
        <input type="text" name="org_country_code"></p>

        <p><label for="org_lat">Lat / lon</label>
        <input type="text" name="org_lat" style="width:98px;">
        <input type="text" name="org_lon" style="width:98px;"></p>

    </div>

</div>

<a class="btn btn-success addsection" href="#" data-type=".organisation">Add another organisation</a>





<!-- contacts -->
<div id="contact" class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Contact details</h1>
        </div>
    </div>
</div>

{% for contact in record.register.contact %}
<div class="row-fluid multidisplay contact" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;">

    <div class="span6">

        <p><label for="contact_name">Name</label>
        <input type="text" name="contact_name" value="{{contact.details.name}}" class="ac finder"></p>

        <p><label for="contact_job_title">Job title</label>
        <input type="text" name="contact_job_title" value="{{contact.details.job_title}}"></p>

        <p><label for="contact_email">Email</label>
        <input type="text" name="contact_email" value="{{contact.details.email}}"></p>

        <p><label for="contact_phone">Phone</label>
        <input type="text" name="contact_phone" value="{{contact.details.phone}}"></p>

        <p><label for="contact_fax">Fax</label>
        <input type="text" name="contact_fax" value="{{contact.details.fax}}"></p>

    </div>
    
    <div class="span6">

        <p><label for="contact_role">Role</label>
        <input type="text" name="contact_role" value="{{contact.role}}"></p>

        <p><label for="contact_address">Address</label>
        <textarea name="contact_address" style="height:110px;">{{contact.details.address}}</textarea></p>

        <p><label for="contact_lat">Lat / lon</label>
        <input type="text" name="contact_lat" value="{{contact.details.lat}}" style="width:98px;">
        <input type="text" name="contact_lon" value="{{contact.details.lon}}" style="width:98px;"></p>

    </div>

</div>
{% endfor %}

<div class="row-fluid multi contact" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;">

    <div class="span6">

        <p><label for="contact_name">Name</label>
        <input type="text" name="contact_name" class="ac finder"></p>

        <p><label for="contact_job_title">Job title</label>
        <input type="text" name="contact_job_title"></p>

        <p><label for="contact_email">Email</label>
        <input type="text" name="contact_email"></p>

        <p><label for="contact_phone">Phone</label>
        <input type="text" name="contact_phone"></p>

        <p><label for="contact_fax">Fax</label>
        <input type="text" name="contact_fax"></p>

    </div>
    
    <div class="span6">

        <p><label for="contact_role">Role</label>
        <input type="text" name="contact_role"></p>

        <p><label for="contact_address">Address</label>
        <textarea name="contact_address" style="height:110px;"></textarea></p>

        <p><label for="contact_lat">Lat / lon</label>
        <input type="text" name="contact_lat" style="width:98px;">
        <input type="text" name="contact_lon" style="width:98px;"></p>

    </div>

</div>

<a class="btn btn-success addsection" href="#" data-type=".contact">Add another contact</a>








<!-- policy -->
<div id="policy" class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Repository policies</h1>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">		
        <table class="multidisplay policy">
            <thead>
                <tr>
                    <th style="min-width:300px;">Type</th>
                    <th style="min-width:200px;">Grade</th>
                    <th style="min-width:430px;">Description</th>
                    <th style="min-width:200px;">Terms</th>
                </tr>
            </thead>
            <tbody>
                {% for policy in record.register.policy %}
                <tr>
            		<td><input type="text" name="policy_policy_type" value="{{policy.policy_type}}"></td>
            		<td><input type="text" name="policy_policy_grade" value="{{policy.policy_grade}}"></td>            		
            		<td><textarea name="policy_description" style="height:18px;width:430px;">{{policy.description}}</textarea></td>
            		<td><input type="text" name="policy_terms" value="{{policy.terms}}"></td>            		
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="multi">
            <tbody>
                <tr>
            		<td><input type="text" name="policy_policy_type"></td>
            		<td><input type="text" name="policy_policy_grade"></td>            		
            		<td><textarea name="policy_description" style="height:18px;width:430px;"></textarea></td>
            		<td><input type="text" name="policy_terms" class="needselect2"></td>            		
                </tr>
            </tbody>
        </table>        
    </div>
</div>






<!-- api -->
<div id="api" class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Repository APIs</h1>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">		
        <table class="multidisplay policy">
            <thead>
                <tr>
                    <th style="min-width:200px;">Type</th>
                    <th style="min-width:100px;">Version</th>
                    <th style="min-width:200px;">Base URL</th>
                    <th style="min-width:200px;">Prefixes</th>
                    <th style="min-width:200px;">Accepts</th>
                    <th style="min-width:200px;">Packaging</th>
                </tr>
            </thead>
            <tbody>
                {% for api in record.register.api %}
                <tr>
            		<td><input type="text" name="api_api_type" value="{{api.api_type}}" style="width:100px;" class="ac"></td>
            		<td><input type="text" name="api_version" value="{{api.version}}" style="width:100px;"></td>            		
            		<td><input type="text" name="api_base_url" value="{{api.base_url}}"></td>            		
            		<td><input type="text" name="api_metadata_prefixes" value="{{api.metadata_prefixes}}"></td>
            		<td><input type="text" name="api_accepts" value="{{api.accepts}}"></td>            		
            		<td><input type="text" name="api_accept_packaging" value="{{api.accept_packaging}}"></td>            		
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="multi">
            <tbody>
                <tr>
            		<td><input type="text" name="api_api_type" style="width:100px;" class="ac"></td>
            		<td><input type="text" name="api_version" style="width:100px;"></td>            		
            		<td><input type="text" name="api_base_url" ></td>            		
            		<td><input type="text" name="api_metadata_prefixes"></td>
            		<td><input type="text" name="api_accepts"></td>            		
            		<td><input type="text" name="api_accept_packaging"></td>            		
                </tr>
            </tbody>
        </table>        
    </div>
</div>






<!-- software -->
<div id="software" class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Software</h1>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">		
        <table class="multidisplay software">
            <thead>
                <tr>
                    <th style="min-width:300px;">Name</th>
                    <th style="min-width:200px;">Version</th>
                    <th style="min-width:200px;">URL</th>
                </tr>
            </thead>
            <tbody>
                {% for software in record.register.software %}
                <tr>
            		<td><input type="text" name="software_name" value="{{software.name}}" class="ac"></td>
            		<td><input type="text" name="software_version" value="{{software.version}}"></td>            		
            		<td><input type="text" name="software_url" value="{{software.url}}"></td>            		
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="multi">
            <tbody>
                <tr>
            		<td><input type="text" name="software_name" class="ac"></td>
            		<td><input type="text" name="software_version"></td>            		
            		<td><input type="text" name="software_url"></td>            		
                </tr>
            </tbody>
        </table>        
    </div>
</div>






<!-- integration -->
<div id="software" class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Integration</h1>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">		
        <table class="multidisplay integration">
            <thead>
                <tr>
                    <th style="min-width:300px;">With</th>
                    <th style="min-width:200px;">Nature</th>
                    <th style="min-width:200px;">URL</th>
                    <th style="min-width:200px;">Software</th>
                    <th style="min-width:200px;">Version</th>
                </tr>
            </thead>
            <tbody>
                {% for integration in record.register.integration %}
                <tr>
            		<td><input type="text" name="integration_integrated_with" value="{{integration.integrated_with}}"></td>
            		<td><input type="text" name="integration_nature" value="{{integration.nature}}"></td>            		
            		<td><input type="text" name="integration_url" value="{{integration.url}}"></td>            		
            		<td><input type="text" name="integration_software" value="{{integration.software}}"></td>            		
            		<td><input type="text" name="integration_version" value="{{integration.version}}"></td>            		
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="multi">
            <tbody>
                <tr>
            		<td><input type="text" name="integration_integrated_with"></td>
            		<td><input type="text" name="integration_nature"></td>            		
            		<td><input type="text" name="integration_url"></td>            		
            		<td><input type="text" name="integration_software"></td>            		
            		<td><input type="text" name="integration_version"></td>            		
                </tr>
            </tbody>
        </table>        
    </div>
</div>





<input type="submit" class="btn btn-info" style="width:100%;font-size:30px;line-height:30px;height:120px;margin-top:30px;" value="Click here when ready to submit this repository data to OpenDOAR.">

</form>

{% endblock %}




{% block extra_js_bottom %}

<script type="text/javascript">

jQuery(document).ready(function($) {

    // start with a detect by URL
    {% if not record.detectdone %}
    $('#form').hide();
    $('#detect').show();
    $('#url').focus();
    {% endif %}

    // set datepickers
    var opts = {
        inline: true,
        dateFormat: 'dd/mm/yy',
        changeYear: true
    }
    $('.datepicker').datepicker(opts);

    // set suggester values
    var dropdowns = {{ dropdowns|tojson|safe }};
    $('.ac').each(function(i) {
        var type = $(this).attr('name');
        if ( type == "org_country" ) { type == "metadata_country"; }
        if ( type == "org_country_code" ) { type == "metadata_country_code"; }
        if ( type == "integration_software" ) { type == "software_name"; }
        if ( type in dropdowns ) {
            var d = dropdowns[type];
            $(this).autocomplete({
                "source": d,
                "minLength": 0,
                "select": function() {
                    if ( $(this).hasClass('finder') ) {
                        // add an if this has finder class then trigger a search for 
                        //supporting data, e.g. find an org on org name, contact on contact name, etc
                    }
                }
            });
        }
    });
    
    // function of things to do whenever a row is appended
    var preprow = function(row) {
        $(row).find('.delete-row').bind('click',deleterow);
        $(row).find('select').val("");
        $(row).find('input').val("");
        $(row).find('textarea').html("");
        $(row).find('.datepicker').datepicker("destroy");
        $(row).find('.datepicker').removeClass("hasDatepicker").removeAttr('id');
        $(row).find('.datepicker').datepicker(opts);
    }

    // fit a static row remover for old content
    $('table.multidisplay').find('tbody').children('tr').each(function() {
        var adder = '<a class="btn btn-warning static-delete-row" style="margin:-10px 2px 0 0;" href="#">delete</a>';
        adder += '<a class="btn edit-row" style="margin:-10px 2px 0 0;';
        if ( !$(this).parents('table').hasClass('editablerows') ) { adder += 'visibility:hidden;'; }
        adder += '" href="#">edit</a>';
        $(this).children('td').first().prepend(adder).children('select, input').addClass('narrow');
    });
    var staticdeleterow = function(event) {
        event.preventDefault();
        var row = $(this).closest('tr').clone(true).get(0);
        $(this).closest('tr').remove();
    }
    $('.static-delete-row').bind('click',staticdeleterow);

    // add / remove rows to list items
    $('table.multi').find('tbody').children('tr').each(function() {
        $(this).children('td').first().prepend('<a class="btn btn-warning delete-row" href="#">delete</a>').children('select, input').addClass('narrow');
    });
    $('table.multi').find('tbody').append('<tr><td><a class="btn btn-success add-row" href="#">add</a></td></tr>');
    var addrow = function(event) {
        event.preventDefault();
        var maxrows = 50;
        $(this).closest('table').hasClass('manyrows') ? maxrows = 100 : false;
        $(this).closest('tr').siblings().length == (maxrows - 1) ? $(this).hide() : false;
        if ( $(this).closest('tr').siblings().length < maxrows ) {
            var row = $(this).closest('tr').prev().clone(true).get(0);
            $(row).find('.noclone').remove();
            $(row).insertBefore($(this).closest('tr'));
            preprow(row);
        }
    }
    $('.add-row').bind('click',addrow);
    var deleterow = function(event) {
        event.preventDefault();
        var row = $(this).closest('tr').clone(true).get(0);
        var maxrows = 50;
        $(this).closest('table').hasClass('manyrows') ? maxrows = 100 : false;
        $(this).closest('tr').siblings().length == maxrows ? $(this).closest('tr').siblings().find('.add-row').show() : false;
        if ( $(this).closest('tr').siblings().length == 1 ) {
            $(row).find('.noclone').remove();
            $(row).insertBefore($(this).closest('tr'));
            preprow(row);
        }
        $(this).closest('tr').remove();
    }
    $('.delete-row').bind('click',deleterow);


    var delbutton = '<a class="btn btn-warning delsection" href="#">Delete</a>';
    var delsection = function(event) {
        event.preventDefault();
        $(this).parent().remove();
    }
    $('.delsection').bind('click',delsection);
    var addsection = function(event) {
        event.preventDefault();
        var type = $(this).attr('data-type');
        var cloned = $(type).last().clone();
        $(type).last().append(delbutton);
        $(type).last().after(cloned);
        // add functions to the stuff inserted
        $('.delsection').unbind('click',delsection).bind('click',delsection);
    }
    $('.addsection').bind('click',addsection);
    
})

</script>

{% endblock %}


