{% extends "base.html" %}

{% block content %}

<style>
label{
    width:200px;
    display:inline-block;
}
.add-row {
    width:35px;
}
.delete-row {
    width:35px;
    display:inline;
    margin:0 5px 0 0;
}
.banner{
    margin-top:50px;
}
#dupwarning{
    display:none;
}
</style>







<form id="detect" method="GET" action="" style="display:none;">

<div class="jumbotron odh">
    <h1>Add a repository to OpenDOAR</h1>
</div>

<input style="font-size:40px;width:99%;height:80px;line-height:40px;margin-top:20px;" type="text" name="url" id="url" placeholder="http:// repository url here">
<input type="submit" class="btn btn-info" style="width:100%;font-size:30px;line-height:30px;height:120px;margin-top:30px;" value="Enter a repository URL above and click here to begin">

{% if not current_user.is_super %}
<p><br><br>Alternatively, if you'd just like to see what we can detect about your repository and how that default information would look as a record in OpenDoar, 
<br>then <a href="/detect">try out our repository metadata autodetection tool</a>.</p>
{% endif %}

</form>



<form id="form" action="" method="post">

<div class="jumbotron odh">
    {% if record.id %}
    <h1>{{record.register.metadata[0].record.name}}</h1>
    {% else %}
    <h1>Add a repository to OpenDOAR</h1>
    {% endif %}
    {% if current_user.is_super %}
    <p id="sumeta" style="color:white;"><br>Operational status: 
    <input type="text" name="register__operational_status" class="acs" style="margin-right:50px;" 
    {% if record.register.operational_status %}
    value="{{record.register.operational_status}}" 
    {% endif %}
    >
    In OpenDOAR: 
    <input type="checkbox" name="admin__opendoar__in_opendoar" 
    {% if record.admin %}{% if record.admin.opendoar %}{% if record.admin.opendoar.in_opendoar %}checked="checked"{% endif %}{% endif %}{% endif %}>
    </p>
    {% endif %}
</div>

<p style="color:red;">NOTE: for fields marked (s) * it is possible to provide multiple comma-separated values. 
If you wish to provide a value that contains a comma, wrap it in double quotation marks, e.g. "books, videos".</p>

{% if duplicate %}
{% if current_user.is_super %}
<p id="dupwarning" style="color:red;">
NOTE: there is already an OARR record with this URL. <br>
<a id="dupid" target="_blank" href="/admin/record/{{duplicate}}">Click here to edit it</a> instead of creating a new one.</p>
{% else %}
<p id="dupwarning" style="color:red;">
NOTE: there is already an OARR record with this URL. <br>
<a id="dupid" target="_blank" href="/repository/{{duplicate}}">Click here to review it</a> before creating a new record.</p>
{% endif %}
{% endif %}

{% if record.admin %}
{% if record.admin.opendoar %}
{% if record.admin.opendoar.updaterequest %}
<input type="hidden" name="admin__opendoar__updaterequest" value="{{record.admin.opendoar.updaterequest}}"> 
{% if current_user.is_super %}
<p id="updatewarning" style="color:red;">
NOTE: this record is an update request. 
<a id="updateid" target="_blank" href="/admin/record/{{record.admin.opendoar.updaterequest}}">Click here to open</a> the original record for comparison.<br>
{% if request.path != '/contribute' %}
If this record is saved it will update the original then this update request will be deleted.
{% endif %}
</p>
{% endif %}
{% endif %}
{% if record.admin.opendoar.newcontribution %}
<p id="updatewarning" style="color:red;">NOTE: this record is a new contribution request. It will remain as such until it is saved for the first time, or deleted.</p>
{% endif %}
{% endif %}
{% endif %}




<!-- record metadata across all languages -->
<div id="metadata"></div>

<div class="row multi metadata" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;">
    <div class="col-md-6">
        <p><label for="register__metadata__lang">Language code of this record</label>
        <input type="text" name="register__metadata__lang" class="acs"></p>

        <p><label for="register__metadata__default">Is this the preferred language?</label>
        <input type="checkbox" name="register__metadata__default"></p>

        <p><label for="register__metadata__record__url">URL</label>
        <input type="text" name="register__metadata__record__url"></p>
                
        <p><label for="register__metadata__record__name">Name</label>
        <input type="text" name="register__metadata__record__name"></p>

        <p><label for="register__metadata__record__acronym">Acronym</label>
        <input type="text" name="register__metadata__record__acronym"></p>

        <p><label for="register__metadata__record__established_date">Established date</label>
        <input type="text" name="register__metadata__record__established_date" class="datepicker"></p>

        <p><label for="register__metadata__record__twitter">Twitter</label>
        <input type="text" name="register__metadata__record__twitter"></p>

        <p><label for="register__metadata__record__country">Country</label>
        <input type="text" name="register__metadata__record__country" class="acs"></p>

        <p><label for="register__metadata__record__continent">Continent</label>
        <input type="text" name="register__metadata__record__continent" class="acs"></p>

        <p><label for="register__metadata__record__continent_code">Continent code</label>
        <input type="text" name="register__metadata__record__continent_code" class="acs"></p>
    </div>
    
    <div class="col-md-6">
        <p><label for="register__metadata__record__description">Description</label>
        <textarea name="register__metadata__record__description" style="height:110px;"></textarea></p>

        <p><label for="register__metadata__record__policy_url">Repository policy URL</label>
        <input type="text" name="register__metadata__record__policy_url"></p>

        <p><label for="register__metadata__record__repository_type">Repository type <span style="color:red;">(s) *</span></label>
        <input type="text" name="register__metadata__record__repository_type" class="ac"></p>
    
        <p><label for="register__metadata__record__content_type">Repository content <span style="color:red;">(s) *</span></label>
        <textarea name="register__metadata__record__content_type" class="ac" style="min-height:50px;"></textarea></p>
        
        <p><label for="register__metadata__record__certification">Repository certification <span style="color:red;">(s) *</span></label>
        <input type="text" name="register__metadata__record__certification" class="ac"></p>
        
        <p><label for="register__metadata__record__subject__term">Repository subject <span style="color:red;">(s) *</span></label>
        <input type="text" name="register__metadata__record__subject__term" class="ac"></p>

        <p><label for="register__metadata__record__language">Repository content language <span style="color:red;">(s) *</span></label>
        <input type="text" name="register__metadata__record__language" class="ac"></p>
    </div>
</div>

<a class="btn btn-success addsection" href="#" data-type="metadata">Add metadata in another language</a>





<!-- organisations -->
<div id="organisation" class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Organisational details</h1>
        </div>
    </div>
</div>

<div class="row-fluid multi organisation" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;">

    <div class="span6">

        <p><label for="register__organisation__details__name">Name</label>
        <input type="text" name="register__organisation__details__name" class="ac"></p>
        
        <p><label for="register__organisation__details__acronym">Acronym</label>
        <input type="text" name="register__organisation__details__acronym"></p>
        
        <p><label for="register__organisation__details__unit">Org. Unit</label>
        <input type="text" name="register__organisation__details__unit"></p>
        
        <p><label for="register__organisation__details__unit_acronym">Org. Unit Acronym</label>
        <input type="text" name="register__organisation__details__unit_acronym"></p>
        
        <p><label for="register__organisation__details__unit_url">Org. Unit URL</label>
        <input type="text" name="register__organisation__details__unit_url"></p>

        <a class="btn btn-warning delsection" href="#">Delete</a>

    </div>
    
    <div class="span6">

        <p><label for="register__organisation__role">Role <span style="color:red;">(s) *</span></label>
        <input type="text" name="register__organisation__role" class="ac"></p>
        
        <p><label for="register__organisation__details__url">URL</label>
        <input type="text" name="register__organisation__details__url"></p>
                
        <p><label for="register__organisation__details__country">Country</label>
        <input type="text" name="register__organisation__details__country" class="acs"></p>
        
        <p><label for="register__organisation__details__lat">Lat / lon</label>
        <input type="text" name="register__organisation__details__lat" style="width:98px;">
        <input type="text" name="register__organisation__details__lon" style="width:98px;">
        <br><a target="_blank" href="http://www.satsig.net/maps/lat-long-finder.htm">Find your lat/lon</a>
        </p>
        
    </div>

</div>

<a class="btn btn-success addsection" href="#" data-type="organisation">Add an organisation</a>





<!-- contacts -->
<div id="contact" class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Contact details</h1>
        </div>
    </div>
</div>

<div class="row-fluid multi contact" style="border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;">

    <div class="span6">

        <p><label for="register__contact__details__name">Name</label>
        <input type="text" name="register__contact__details__name" class="ac"></p>
        
        <p><label for="register__contact__details__job_title">Job title</label>
        <input type="text" name="register__contact__details__job_title"></p>
        
        <p><label for="register__contact__details__email">Email</label>
        <input type="text" name="register__contact__details__email"></p>
        
        <p><label for="register__contact__details__phone">Phone</label>
        <input type="text" name="register__contact__details__phone"></p>
        
        <p><label for="register__contact__details__fax">Fax</label>
        <input type="text" name="register__contact__details__fax"></p>

        <a class="btn btn-warning delsection" href="#">Delete</a>

    </div>
    
    <div class="span6">

        <p><label for="register__contact__role">Role <span style="color:red;">(s) *</span></label>
        <input type="text" name="register__contact__role" class="ac"></p>
        
        <p><label for="register__contact__details__address">Address</label>
        <textarea name="register__contact__details__address" style="height:110px;"></textarea></p>
        
        <p><label for="register__contact__details__lat">Lat / lon</label>
        <input type="text" name="register__contact__details__lat" style="width:98px;">
        <input type="text" name="register__contact__details__lon" style="width:98px;"></p>
        
    </div>

</div>

<a class="btn btn-success addsection" href="#" data-type="contact">Add a contact</a>








<!-- policy -->
{% if not current_user.is_super %}<div style="display:none;">{% endif %}
<div class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Repository policies</h1>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">		
        <table>
            <thead id="policy">
                <tr>
                    <th style="min-width:300px;">Type</th>
                    <th style="min-width:200px;">Policy term <span style="color:red;">(s) *</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="multi policy">
                    <td>
                        <a class="btn btn-warning delsection" href="#">Delete</a> 
                        <input type="text" name="register__policy__policy_type" class="acs">
                    </td>
                    <td><textarea name="register__policy__terms" class="ac" style="min-width:400px;"></textarea></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<a class="btn btn-success addsection" href="#" data-type="policy">Add a policy</a>
{% if not current_user.is_super %}</div>{% endif %}






<!-- api -->
<div class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Repository APIs</h1>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">		
        <table>
            <thead id="api">
                <tr>
                    <th style="min-width:200px;">Type</th>
                    <th style="min-width:400px;">Base URL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="multi api">
                    <td>
                        <a class="btn btn-warning delsection" href="#">Delete</a> 
                        <input type="text" name="register__api__api_type" style="width:150px;">
                    </td>
                    <td>
                        <input type="text" name="register__api__base_url" style="width:400px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-success addsection" href="#" data-type="api">Add an API</a>






<!-- software -->
<div class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Software</h1>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">		
        <table>
            <thead id="software">
                <tr>
                    <th style="min-width:300px;">Name</th>
                    <th style="min-width:200px;">Version</th>
                    <th style="min-width:200px;">URL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="multi software">
                    <td>
                        <a class="btn btn-warning delsection" href="#">Delete</a> 
                        <input type="text" name="register__software__name" class="acs">
                    </td>
                    <td><input type="text" name="register__software__version"></td>            		
                    <td><input type="text" name="register__software__url" class="acs"></td>            		
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-success addsection" href="#" data-type="software">Add software</a>





<!-- integration -->
<div class="row-fluid">
    <div class="span12">
        <div class="well banner odh">
            <h1>Integration</h1>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <table>
            <thead id="integration">
                <tr>
                    <th style="min-width:300px;">With</th>
                    <th style="min-width:200px;">Nature</th>
                    <th style="min-width:200px;">URL</th>
                    <th style="min-width:200px;">Software</th>
                    <th style="min-width:200px;">Version</th>
                </tr>
            </thead>
            <tbody>
                <tr class="multi integration">
                    <td>
                        <a class="btn btn-warning delsection" href="#">Delete</a> 
                        <input type="text" name="register__integration__integrated_with" class="acs">
                    </td>
                    <td><input type="text" name="register__integration__nature"></td>            		
                    <td><input type="text" name="register__integration__url"></td>            		
                    <td><input type="text" name="register__integration__software" class="acs"></td>            		
                    <td><input type="text" name="register__integration__version"></td>            		
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-success addsection" href="#" data-type="integration">Add an integration</a>





<input type="submit" class="btn btn-info" style="width:100%;font-size:30px;line-height:30px;height:120px;margin-top:30px;" 
{% if record.admin %}
{% if record.admin.opendoar %}
{% if record.admin.opendoar.updaterequest %}
    value="Click here when ready to submit this update request to OpenDOAR"
{% else %}
    {% if current_user.is_super %}
    value="Click here when ready to save this data to OpenDOAR"
    {% else %}
    value="Click here when ready to submit this repository data to OpenDOAR"
    {% endif %}
{% endif %}
{% endif %}
{% endif %}
>

{% if record.admin %}
{% if record.admin.opendoar %}
{% if record.admin.opendoar.updaterequest %}
{% if current_user.is_super and request.path != '/contribute' %}
<p style="color:red;"><br>
NOTE this record is an update request. Saving it will result in the content replacing that of the original record, then this update 
request record will be deleted from the system.</p>
{% endif %}
{% endif %}
{% endif %}
{% endif %}

{% if current_user.is_super and record.id and request.path != '/contribute' %}
<p style="color:red;"><br>
<input type="submit" name="submit" value="Delete" class="btn btn-small btn-danger">
Or click the button to the left to delete this record. WARNING: Cannot be undone!</p>
{% endif %}

</form>

{% endblock %}




{% block extra_js_bottom %}

<script type="text/javascript">

jQuery(document).ready(function($) {

    // start with a detect by URL
    {% if not detectdone %}
    $('#form').hide();
    $('#sumeta').hide();
    $('#detect').show();
    $('#url').focus();
    {% endif %}

    var dpopts = {
        inline: true,
        dateFormat: 'dd/mm/yy',
        changeYear: true
    }
        
    var ac_url = '/stream/record/';
    var acopts = {
      source: function( request, response ) {
        var terms = request.term.split( /,\s*/ );
        var t = $.trim(terms[terms.length-1]);
        $.ajax({
          url: ac_url + $(this.element).attr('name').replace(/__/g,'.') + '?q=' + t,
          cache:false,
          async:false,
          dataType: "json",
          type: 'GET',
          contentType: 'application/json',
          success: function( data ) {
            var res = [];
            for ( var r in data ) {
              if ( data[r].toLowerCase().indexOf(t.toLowerCase()) >= 0 ) {
                var tr = data[r];
                if ( tr.indexOf(',') >= 0 ) {
                  tr = '"' + tr + '"';
                }
                res.push(tr);
              }
            }
            response( res );
          }
        });
      },
      select: function( event, ui ) {
          var terms = this.value.split( /,\s*/ );
          terms.pop();
          terms.push( ui.item.value );
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
      },
      minLength: 0
    }

    var acsopts = {
      source: function( request, response ) {
        $.ajax({
          url: ac_url + $(this.element).attr('name').replace(/__/g,'.') + '?q=' + request.term,
          cache:false,
          async:false,
          dataType: "json",
          type: 'GET',
          contentType: 'application/json',
          success: function( data ) {
            var res = [];
            for ( var r in data ) {
              if ( data[r].toLowerCase().indexOf(request.term.toLowerCase()) >= 0 ) {
                var tr = data[r];
                if ( tr.indexOf(',') >= 0 ) {
                  tr = '"' + tr + '"';
                }
                res.push(tr);
              }
            }
            response( res );
          }
        });
      },
      minLength: 0
    }

    var rec = {{record|tojson|safe}};
    var sections = {};

    var delsection = function(event) {
        event.preventDefault();
        $(this).closest('.multi').remove();
    }
    $('.delsection').bind('click',delsection);
    var addsection = function(event) {
        event.preventDefault();
        var type = $(this).attr('data-type');
        var sn = sections[type].clone(true);
        $('[data-type=' + type + ']').before(sn);
        $(sn).find('textarea,input').each(function() {
            if ( $(this).hasClass('ac') ) {
                $(this).autocomplete(acopts);
            }
            if ( $(this).hasClass('acs') ) {
                $(this).autocomplete(acsopts);
            }
        })
    }
    $('.addsection').bind('click',addsection);

    $('.multi').each(function() {
        var tp = $(this).attr('class').replace('row-fluid ','').replace('multi ','');
        sections[tp] = $(this).clone(true);
        $(this).remove();
        if ( rec.register.hasOwnProperty(tp) ) {
            for ( var i = rec.register[tp].length - 1; i >= 0; i-- ) {
                var obj = rec.register[tp][i];
                var ss = sections[tp].clone(true);
                $(ss).find('textarea,input').each(function() {
                    var fn = $(this).attr('name').replace('register__','').replace(tp+'__','');
                    if ( fn.indexOf('__') != -1 ) {
                        var p = fn.split('__');
                        var v = obj[p[0]][p[1]];
                    } else {
                        var v = obj[fn];
                    }
                    if ( v === true ) {
                        $(this).prop("checked",true);
                    } else if ( v === false ) {
                        $(this).prop("checked",false);
                    } else {
                        if ( v instanceof(Array) ) {
                            var sv = [];
                            for ( var n = 0; n < v.length; n++ ) {
                                if ( v[n] instanceof(Object) ) {
                                    var vls = v[n]["term"];
                                    vls === undefined ? vls = v[n]["prefix"] : false;
                                    // TODO: this catches subject__term and metadata_formats__prefix
                                    // but may have to do something more with them
                                } else {
                                    var vls = v[n];
                                }
                                if ( vls.indexOf(',') != -1 ) {
                                    sv.push('"' + vls + '"');
                                } else {
                                    sv.push(vls);
                                }
                            }
                            v = sv.join(', ');
                        }
                        $(this).attr('value',v);
                    }
                })
                $(ss).insertAfter('#' + tp).show();
            }
        }
    });

    // TODO: move the metadata section that contains the default values to the top of that listing

    $('.datepicker').datepicker(dpopts);
    $( ".ac" ).autocomplete(acopts);
    $( ".acs" ).autocomplete(acsopts);




    var dupwarning = function(did) {
        if ( did !== false ) {
            $('#dupid').attr("href",'/repository/' + did);
            $('#dupwarning').show();
        }
    }
    {% if duplicate and ( not record.id and detectdone ) %}
    dupwarning("{{duplicate}}");
    {% endif %}

    var dupcheck = function(event) {
        $.ajax({
          url: '/duplicate?url=' + $(this).val(),
          cache:false,
          async:false,
          dataType: "json",
          type: 'GET',
          contentType: 'application/json',
          success: dupwarning
        });
    }
    $('#url').bind('keyup',dupcheck);


    $('input[type="text"]').each(function() {
        var vl = $(this).val();
        if ( vl.indexOf('http') == 0 || vl.indexOf('http') == 0 ) {
            $(this).after(' <a alt="open link in new window" title="open link in new window" style="font-size:1.4em;" href="' + vl + '" target="_blank">&raquo;</a>');
        }
    });


    $('input,select').keypress(function(event) { return event.keyCode != 13; });

})

</script>

{% endblock %}


