<head>
    <meta charset="utf-8">
    <title>OpenDOAR - Directory of Open Access Repositories</title>
    <meta name="description" content="Directory of Open Access Repositories">
    <meta name="author" content="Cottage Labs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- this is where we can incorporate any css files -->
    <link rel="stylesheet" href="{{url_for('static', filename='opendoar/css/opendoar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='portality/vendor/bootstrap/css/bootstrap.min.css')}}">

</head>

