{% extends "base.html" %}

{% block content %}

<div class="hero-unit odh" style="background-color:#53afdf;">
    <h1>OpenDOAR <small>for exploring the world of repositories</small></h1>
</div>

<div class="row-fluid">

    <div class="span2">
        <div class="well" style="background-color:transparent;border-color:#53afdf;">
            <p><a href="/search"><img src="/static/search.png" style="width:100%;"></a></p>
            <h2 style="text-align:center;"><a href="/search" style="color:#53afdf;">search</a></h2>
        </div>
    </div>

    <div class="span2">
        <div class="well" style="background-color:transparent;border-color:#53afdf;">
            <p><a href="/map"><img src="/static/map.png" style="width:100%;"></a></p>
            <h2 style="text-align:center;"><a href="/map" style="color:#53afdf;">map</a></h2>
        </div>
    </div>

    <div class="span2">
        <div class="well" style="background-color:transparent;border-color:#53afdf;">
            <p><a href="/stats"><img src="/static/statistics.png" style="width:100%;"></a></p>
            <h2 style="text-align:center;"><a href="/stats" style="color:#53afdf;">stats</a></h2>
        </div>
    </div>

    <div class="span2">
        <div class="well" style="background-color:transparent;border-color:#53afdf;">
            <p><a href="/contribute"><img src="/static/suggest.png" style="width:100%;"></a></p>
            <h2 style="text-align:center;"><a href="/contribute" style="color:#53afdf;">contribute</a></h2>
        </div>
    </div>

    <div class="span2">
        <div class="well" style="background-color:transparent;border-color:#53afdf;">
            <p><a href="/community"><img src="/static/community.png" style="width:100%;"></a></p>
            <h2 style="text-align:center;"><a href="/community" style="color:#53afdf;">community</a></h2>
        </div>
    </div>

    <div class="span2">
        <div class="well" style="background-color:transparent;border-color:#53afdf;">
            <p><a href="/tools"><img src="/static/tools.png" style="width:100%;"></a></p>
            <h2 style="text-align:center;"><a href="/tools" style="color:#53afdf;">tools</a></h2>
        </div>
    </div>
    
</div>


{% endblock %}

{% block extra_js_bottom %}
<script>
jQuery(document).ready(function() {
    $('.navbar-wrapper').hide();
})
</script>
{% endblock %}


