{% extends "base.html" %}

{% block content %}

<div class="hero-unit odh">
<h1>OpenDOAR stats</h1>
</div>    





{% endblock %}

{% block extra_js_bottom %}

<script type="text/javascript">

jQuery(document).ready(function($) {

    // COPIED FROM G4HE - RE-DO
    
    function doGraph(params) {
        var data = params.data
        var limit = params.limit ? params.limit : data.length
        var label_field = params.label_field
        var value_field = params.value_field
        var name = params["name"]
        var selector = params.svg_selector
        var colour = params.colour
        
        var datums = []
        var bars = {"key" : name, "color" : colour, "values" : []}
        
        for (var i = 0; i < data.length && i < limit; i++) {
            var point = {}
            point["label"] = data[i][label_field]
            point["value"] = data[i][value_field]
            bars.values.push(point)
        }
        datums.push(bars)
        
        var height = (28 * limit) + 42 + 43
        $(selector).css("height", height + "px")
        
        // generate the graph
        nv.addGraph(function() {
            var chart = nv.models.multiBarHorizontalChart()
              .x(function(d) { return d.label })
              .y(function(d) { return d.value })
              .margin({top: 30, right: 40, bottom: 50, left: 175})
              .showValues(false)
              .tooltips(true)
              .showControls(false);

            chart.yAxis
              .tickFormat(d3.format(',.0f'));

            d3.select(selector)
              .datum(datums)
              .transition().duration(500)
              .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    }
    
    function generateTopCollaboratorsGraph(data, limit) {
        // generate the default graph
        doGraph({
            data: data, 
            limit: limit, 
            label_field : "term", 
            value_field: "total", 
            name : "Collaboration Funding",
            svg_selector : "#collaboration_highlight_graph_container svg",
            colour : "#6C3BFF"
        })
    }
    
    // generate the top list of collaborators
    function topCollaborators(count) {
        // we always start by getting the collaboration definition and the range (which we set to the default 4, and current)
        var cd = ["leadro", "principal_investigator", "co_investigator", "fellow"]
        var from = $.datepicker.formatDate("yy-mm-dd", new Date())
        
        // build the query object
        var obj = {
            "count" : count, 
            "collaboration_definition": cd.join(","), 
            "order" : "funding"
        };
        if (from) {
            obj["start"] = from
        }
        
        $.ajax({
            type: "GET",
            url: "/organisation/{{org.name}}/collaboration/top",
            dataType: "json",
            data: obj,
            success : generateCollaboratorGraphClosure(count)
        })
    }
    
    function generateCollaboratorGraphClosure(count) {
        return function(data) {
            generateTopCollaboratorsGraph(data, count)
        }
    }
    
    // actually generate the collaborators list for the top 10
    topCollaborators(10)
    
    /////////////////////////////////////////////////////////////////////////
    
    // funding pie chart functions
    
    function doPie(params) {
        var data = params.data
        var label_field = params.label_field
        var value_field = params.value_field
        var selector = params.svg_selector
        var name = params["name"]
        
        var datums = []
        var pie = {"key" : name, "values" : []}
        
        for (var i = 0; i < data.length; i++) {
            var helping = {}
            helping["label"] = data[i][label_field]
            helping["value"] = data[i][value_field]
            pie.values.push(helping)
        }
        datums.push(pie)
        
        $(selector).css("height", "365px")
        
        // generate the pie
        nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)
                .labelThreshold(.05)
                .donut(true);

            d3.select(selector)
                .datum(datums)
                .transition().duration(500)
                .call(chart);
    
            return chart;
        });
        
    }
    
    function fundingBreakdown() {
        var start = $.datepicker.formatDate("yy-mm-dd", new Date())
        var obj = {"start" : start}
        $.ajax({
            type: "GET",
            url: "/organisation/{{org.name}}/funders",
            dataType: "json",
            data: obj,
            success : generateFundersChart
        })
    }
    
    function generateFundersChart(data) {
        // generate the default graph
        doPie({
            data: data, 
            label_field : "term", 
            value_field: "total", 
            svg_selector : "#funding_breakdown_container svg",
            name : "Funding Breakdown"
        })
    }
    
    // actually generate the funder pie chart
    fundingBreakdown()


})

</script>

{% endblock %}
